@media (max-width: 880px) {
  nav .menu {
    opacity: 1;
    visibility: visible;
    background: #000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }

  nav .menu ul {
    display: grid;
  }

  nav ul {
    gap: 2.5rem;
  }

  .toggle {
    color: rgba(147, 88, 247, 1);
    font-size: 1.5rem;
    cursor: pointer;
  }

  i.fa-xmark {
    display: flex;
    width: 60vw;
    justify-content: flex-end;
  }
}
