body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 2rem 0rem !important;
}

ul.social {
  position: relative;
  padding: 0;
  display: flex;
}

ul.social#first {
  margin: 10% 0% 1% 0%;
}

ul.social#second {
  margin: 1% 0% 8% 0%;
}

ul.social li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
}

ul.social li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
}

ul.social li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
ul.social li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
ul.social li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
ul.social li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
ul.social li:hover span:nth-child(1) {
  transform: translate(0px, -0px);
  opacity: 0.2;
}

/* first list */
ul.social#first li:nth-child(1) span {
  background: #55acee;
}
ul.social#first li:nth-child(2) span {
  background: #6364ff;
}
ul.social#first li:nth-child(3) span {
  background: #35465d;
}
ul.social#first li:nth-child(4) span {
  background: #5865f2;
}

/* second list */
ul.social#second li:nth-child(1) span {
  opacity: 0;
  background: #000000;
}
ul.social#second li:nth-child(2) span {
  background: #000000;
}
ul.social#second li:nth-child(3) span {
  background: #000000;
}
ul.social#second li:nth-child(4) span {
  background: #000000;
}
ul.social#second li:nth-child(5) span {
  background: #000000;
}

#donates-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#donate-kofi {
  margin-right: 1rem;
  margin-left: -2rem;
}

#donate-ml {
  margin-left: 1rem;
}

@media (max-width: 500px) {
  ul.social {
    display: grid;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  ul.social#second li:nth-child(1) {
    display: none;
  }

  ul.social#first li:nth-child(1),
  ul.social#first li:nth-child(2) {
    margin-bottom: 1.5rem;
  }
}